# Node.js dependencies
node_modules/

# Environment variables
# .env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.pid.lock

# Debugging
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Uploads
uploads/

# Build output
dist/
build/

# Git files
.git/

# Other ignored files
*.bak
*.temp
